<div class="about-container">
    <!-- <h3 class="about-title">About</h3> -->

    <div class="about-header">
        <h3 class="w3ls-tittle">About</h3>
    </div>

    <p class="p">
        Crafting Unforgettable Moments At every Events, we take pride in curating exceptional experiences that
        linger in
        the hearts of our clients and their guests. Our commitment to excellence shines through every event we
        organize.
    </p>
</div>
<div class="about-wrapper">

    <div class="about-card">
        <h4>Quality Beyond Measure</h4>
        <p>Our meticulous attention to detail ensures flawless execution. From elegant weddings to corporate
            galas, we leave no stone unturned.
            We handpick vendors, scrutinize contracts, and oversee logistics to guarantee top-notch
            quality.</p>
    </div>
    <div class="about-img">
        <img src="../../../assets/images/about.jpg">
    </div>
</div>

<div class="about-wrapper-back">
    <div class="about-wrapper">

        <div class="about-img-2">
            <img src="../../../assets/images/g6.jpg">
        </div>
        <div class="about-card-2">
            <h4>Design Innovation</h4>
            <p>Creativity is our forte. Our talented team of designers transforms visions into reality.
                Whether it’s a chic garden soirée or a futuristic tech summit, our designs captivate and
                inspire.
            </p>
        </div>
    </div>
</div>
<div class="about-wrapper">

    <div class="about-card">
        <h4>Conceptual Brilliance</h4>
        <p>The heart of every event lies in its concept. We collaborate closely with clients to understand
            their
            goals.
            Our concepts resonate with the audience, weaving narratives that leave lasting impressions.</p>
    </div>
    <div class="about-img">
        <img src="../../../assets/images/g8.jpg">
    </div>
</div>
<app-footer></app-footer>