<!-- <h2 mat-dialog-title>Dialog with elements</h2>
<mat-dialog-content>This dialog showcases the title, close, content and actions elements.</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions> -->

<div class="dialog">
    <!-- <div class="dialog-header" mat-dialog-close>
        <p>X</p>
    </div>
    <div class="dialog-content">
        <img src="{{data.image}}" alt="">
    </div> -->
    <p mat-dialog-close>X</p>
    <img class="image" src="{{data.image}}" alt="">
</div>