<div class="bg-image">
    <app-slider></app-slider>

    <div class="about-container">

        <div class="container-about">
            <div class="about-header">
                <h3 class="w3ls-tittle">About</h3>
            </div>
            <p class="p">
                Crafting Unforgettable Moments At every Events, we take pride in curating exceptional experiences that
                linger in
                the hearts of our clients and their guests. Our commitment to excellence shines through every event we
                organize.
            </p>
            <div class="about-section">
                <div class="about-image">
                    <img src="../../../assets/images/about.jpg">
                </div>
                <div class="about-pragraph">
                    <h4>Quality Beyond Measure</h4>
                    <p>Our meticulous attention to detail ensures flawless execution. From elegant weddings to corporate
                        galas, we leave no stone unturned.
                        We handpick vendors, scrutinize contracts, and oversee logistics to guarantee top-notch
                        quality.</p>
                    <h4>Design Innovation</h4>
                    <p>Creativity is our forte. Our talented team of designers transforms visions into reality.
                        Whether it’s a chic garden soirée or a futuristic tech summit, our designs captivate and
                        inspire.
                    </p>
                    <h4>Conceptual Brilliance</h4>
                    <p>The heart of every event lies in its concept. We collaborate closely with clients to understand
                        their
                        goals.
                        Our concepts resonate with the audience, weaving narratives that leave lasting impressions.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="service-container">
        <div class="container-service">
            <div class="service-header">
                <h3 class="service-tittle">Services</h3>
            </div>

            <div class="container-div-row-1">
                <div class="container-div-row-col-1">
                    <img src="../../../assets/images/check.png">
                    <div class="container-div-row-col-1-body">
                        <h1>Best Quality</h1>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical.Contrary to popular belief, Lorem Ipsum
                        </p>
                    </div>

                </div>
                <div class="container-div-row-col-2">
                    <img src="../../../assets/images/music.png">
                    <div class="container-div-row-col-2-body">
                        <h1>Rocking Music</h1>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical.Contrary to popular belief, Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-div-row-1">
                <div class="container-div-row-col-1">
                    <img src="../../../assets/images/thems.png">
                    <div class="container-div-row-col-1-body">
                        <h1>Amazing Themes</h1>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical.Contrary to popular belief, Lorem Ipsum
                        </p>
                    </div>

                </div>
                <div class="container-div-row-col-2">
                    <img src="../../../assets/images/love.png">
                    <div class="container-div-row-col-2-body">
                        <h1>Latest Collections</h1>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of
                            classical.Contrary to popular belief, Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-gallery-view></app-gallery-view>

    <app-team></app-team>

    <app-contact></app-contact>

    <app-footer></app-footer>
    <!-- <div style="height: 100px; background-color: green;"></div> -->
</div>