<div class="gallery-container">

    <div class="container-gallery">
        <div class="gallery-header">
            <h3 class="w3ls-tittle">Gallery</h3>
        </div>

        <div class="gallery-section">
            <div class="galley-row">
                <div class="col-1" (click)="openDialog('../../assets/images/g1.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g1.jpg">
                </div>
                <div class="col-2" (click)="openDialog('../../assets/images/g2.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g2.jpg">
                </div>
                <div class="col-3" (click)="openDialog('../../assets/images/g3.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g3.jpg">
                </div>
            </div>

            <div class="galley-row">
                <div class="col-1" (click)="openDialog('../../assets/images/g4.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g4.jpg">
                </div>
                <div class="col-2" (click)="openDialog('../../assets/images/g5.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g5.jpg">
                </div>
                <div class="col-3" (click)="openDialog('../../assets/images/g6.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g6.jpg">
                </div>
            </div>

            <div class="galley-row">
                <div class="col-1" (click)="openDialog('../../assets/images/g7.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g7.jpg">
                </div>
                <div class="col-2" (click)="openDialog('../../assets/images/g8.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g8.jpg">
                </div>
                <div class="col-3" (click)="openDialog('../../assets/images/g9.jpg')" title="View Image">
                    <img class="image" src="../../../assets/images/g9.jpg">
                </div>
            </div>
        </div>

    </div>

</div>