<div class="team-container">

    <div class="container-team">
        <div class="team-header">
            <h3 class="w3ls-tittle">Out Team</h3>
        </div>

        <div class="team-section">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../../assets/images/soni.jpg" style="height: 100%;width: 100%;" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1>Sony Kumari</h1>
                        <p>Architect & Engineer</p>
                        <p>9999844680</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" src="../../../../assets/images/kundan.jpg"
                            style="height: 100%;width: 100%;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Kundan Kumar</h1>
                        <p>Director & Event Manager</p>
                        <p>9818760413</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../../assets/images/basant.jpg" style="height: 100%;width: 100%;" alt="Avatar">
                    </div>
                    <div class="flip-card-back">
                        <h1>Basant Kumar</h1>
                        <p>Event Organiger & Planner</p>
                        <p>9891404381</p>
                    </div>
                </div>
            </div>
            <!-- <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>