<div class="service-container">
    <div class="container-service">
        <div class="service-header">
            <h3 class="service-tittle">Services</h3>
        </div>

        <div class="container-div-row-1">
            <div class="container-div-row-col-1">
                <img src="../../../assets/images/check.png">
                <div class="container-div-row-col-1-body">
                    <h1>Best Quality</h1>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                        of
                        classical.Contrary to popular belief, Lorem Ipsum
                    </p>
                </div>

            </div>
            <div class="container-div-row-col-2">
                <img src="../../../assets/images/music.png">
                <div class="container-div-row-col-2-body">
                    <h1>Rocking Music</h1>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                        of
                        classical.Contrary to popular belief, Lorem Ipsum
                    </p>
                </div>
            </div>
        </div>

        <div class="container-div-row-1">
            <div class="container-div-row-col-1">
                <img src="../../../assets/images/thems.png">
                <div class="container-div-row-col-1-body">
                    <h1>Amazing Themes</h1>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                        of
                        classical.Contrary to popular belief, Lorem Ipsum
                    </p>
                </div>

            </div>
            <div class="container-div-row-col-2">
                <img src="../../../assets/images/love.png">
                <div class="container-div-row-col-2-body">
                    <h1>Latest Collections</h1>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                        of
                        classical.Contrary to popular belief, Lorem Ipsum
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>